   h1 {
    background-color: darkcyan;
    color: #ffffff;
    border: 2px solid magenta;
    border-radius:2%;
    border-color: gold;
    border-inline-color: solid black ;
    text-align: center;
    padding: 30px ;
    margin: 20px;
    }